.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/2.0/taskArtifacts/fileSnapshots.bin
.gradle/2.0/taskArtifacts/taskArtifacts.bin
.gradle/2.0/taskArtifacts/outputFileStates.bin
.gradle/2.0/taskArtifacts/cache.properties
.gradle/2.0/taskArtifacts/fileHashes.bin
*.launch
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
CREDITS-fml.txt
*.dat
*.js
*.xml
bin/com/fayaadk/greekmythology/ClientProxy.class
*.class
eclipse/usernamecache.json
*.mca
*.gz
bin/mcmod.info
*.fdt
*.snap
*.lock
eclipse/.metadata/.mylyn/repositories.xml.zip
*.tis
eclipse/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/20/60e8d6cc982a001510f9d902484f27af
*.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
*.properties
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.gen
eclipse/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/1b/f013f501432b001516dd96437990d214
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/21/100086c73f2b001516dd96437990d214
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/20/70eb60cf942a001510f9d902484f27af
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/2c/005b52d5152b001516dd96437990d214
*.fnm
*.nrm
*.prx
*.frq
*.tii
*.fdx
*.dat_mcr
*.dat_old
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/2f/d0c18823192b001516dd96437990d214
eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/2c/60041070a02a0015167fe6483dcedfcf
eclipse/saves/New World/stats/fa57a584-be0c-37cc-aa91-b7d78367c493.json
